<!DOCTYPE html>
<html>
  
  <head>
    <link data-require="ionic@*" data-semver="1.0.0-beta.1" rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.1/css/ionic.css" />
    <script data-require="ionic@*" data-semver="1.0.0-beta.1" src="http://code.ionicframework.com/1.0.0-beta.1/js/ionic.bundle.js">
    </script>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js">
    </script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js">
    </script>
  </head>
  
  <body ng-app="myapp" ng-controller="FriendCtrl">
    <ion-tabs
    animation="fade-in-out" 
    tabs-type="tabs-icon-only"
    tabs-style="tabs-positive">
      
      <ion-tab title="Home" icon-on="icon ion-ios7-filing" icon-off="icon ion-ios7-filing-outline" >

        <ion-header-bar align-title="left" class="bar-positive">
          <h1 class="title">
            My Friends
          </h1>
        </ion-header-bar>
        
        <ion-content has-header="true" has-tabs="true" on-refresh="#">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon">
            </i>
            <input type="text" ng-model="searchText">
          </label>
          <ion-list>
            <ion-item ng-repeat="friend in friends | filter:searchText" class="item-thumbnail-left" >
              <img ng-src="http://placehold.it/30x30">
              <h2>
                {{friend.name}}
              </h2>
              
            </ion-item>
          </ion-list>
          
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </body>
  
</html>
